.form {
  max-width: 385px;
}
.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin: 0 0 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
.form__input {
  display: block;
  width: 100%;
  padding: 0;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  border: 1px solid #838383;
}
.form__button {
  width: 100%;
  background-color: #2f80ed;
  color: #fff;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
  box-sizing: border-box;
  border: #2f80ed 1px solid;
  height: 60px;
}
.form__buttom:hover {
  transition: opacity 0.6s ease-out;
  opacity: 0.7;
}
